@import "node_modules/sass-true/sass/true";
@import 'index.scss';

@include describe('The function for px conversion to %') {
  @include it(' par_size(100, 50); Outputs calc( (100% / 100) * 50)') {
    @include assert {
      @include output { width: px_par(100, 50); }
      @include expect { width: calc( (100% / 100) * 50); }
    }
  }

  @include it(' par_size(240, 20); Outputs calc( (100% / 240) * 20)') {
    @include assert {
      @include output { width: px_par(240, 20); }
      @include expect { width: calc( (100% / 240) * 20); }
    }
  }


}
